{% load static %}

<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
/>
<link rel="stylesheet" href="{% static 'GUI/insertData.css' %}" />

<body>
  <div>
    <h3>
      Hello, world. You're at the main index for inputting data . Here we will
      have forms go to insert condtions, measurements, information about
      sequences and experiments with its own conditions and results
    </h3>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center">Insert file</div>
    <div class="col-lg-4 text-center">Insert condition</div>
    <div class="col-lg-4 text-center">Insert measurement</div>
    <div class="col-lg-4 text-center">Insert sequence and information</div>
    <div class="col-lg-4 text-center">
      Insert experiment with condition and results
    </div>
  </div>
</body>
