{% load static %}

<!--
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
/>-->
<html lang="en">
<head>
    <title>Queries</title>
    <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />
    <link rel="stylesheet" href="{% static 'GUI/general.css' %}"/>
    <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'GUI/favicon.ico' %}"
    />
</head>
<body background="{% static 'GUI/background.gif' %}">
<div id="app">
    {# navbar #}
    <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="/" style="font-size: 25px">
            <img
                    src="{% static 'GUI/bu.png' %}"
                    alt="Baylor Biology"
                    style="max-height: 40px"
            />
            Baylor Biology
        </b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav>
                <b-nav-item href="/insertData">Insert Data</b-nav-item>
                <b-nav-item href="/queries" disabled>Queries</b-nav-item>
                <b-nav-item href="/extraCred">Experiment Comparisons</b-nav-item>
                <b-nav-item href="/presentation">Presentation</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>

    <div>
        <h1 style="text-align: center;margin-top:10px;">
            Queries
        </h1>
        <p
                style="text-align: center;margin-left: 50px;margin-top:10px;margin-right: 50px;font-size:30px;"
        >
            Here you can query for data stored within the database.
        </p>
    </div>
    <!--
  <div class="row">
      <div class="col-lg-6 text-center">Query Experiment</div>
      <div class="col-lg-6 text-center">Query Two Experiments</div>
  </div>-->

    <div class="row">
        <div class="col-lg-6">
            <div class="insert-title">Query info about experiments</div>
            <form
                    action="{% url 'GUI:queryExperiment' %}"
                    method="post"
                    enctype="multipart/form-data"
                    class="form-horizontal"
            >
                {% csrf_token %}
                <div>
                    <div class="col-md-12">
                        <input
                                type="text"
                                name="seqName"
                                id="seqName"
                                required
                                class="form-control"
                                placeholder="Sequence Name <Name>"
                        />
                    </div>
                    <div class="col-md-12">
                        <input
                                type="text"
                                name="expConditions"
                                id="expConditions"
                                required
                                class="form-control"
                                placeholder="Experiment Conditions <Condition:Value> separated by a comma"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div
                            class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4"
                            style="margin-bottom:10px;"
                    >
                        <button class="btn btn-primary">
                  <span
                          class="glyphicon glyphicon-upload"
                          style="margin-right:5px;"
                  ></span
                  >Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {% if data.choices %}
            <div class="col-lg-6">
                <div class="insert-title">Side by Side Comparison</div>
                <form
                        action="{% url 'GUI:querySideBySide' %}"
                        method="post"
                        enctype="multipart/form-data"
                        class="form-horizontal"
                >
                    {% csrf_token %}


                    <div>
                        <div class="col-md-12">
                            <select name="itemOneChoice"
                                    style="color:black;margin-top:10px;width: 80%;padding: 12px;border: 3px solid #555;">
                                {% for entry in data.choices %}
                                    <option value={{ entry.id }}>Experiment {{ entry.sequence }} with condition ids
                                        : {{ entry.conditions }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <select name="itemTwoChoice"
                                    style="color:black;margin-bottom:17.5px;margin-top:10px;width: 80%;padding: 12px;border: 3px solid #555;">
                                {% for entry in data.choices %}
                                    <option value={{ entry.id }}>Experiment {{ entry.sequence }} with condition ids
                                        : {{ entry.conditions }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div
                                class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4"
                                style="margin-bottom:10px;"
                        >
                            <button class="btn btn-primary">
                  <span
                          class="glyphicon glyphicon-upload"
                          style="margin-right:5px;"
                  ></span
                  >Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

    <div
            class="col-lg-4 text-center"
            style="margin: 0 auto; padding-top: 30px; padding-bottom:100px;"
    >
        <b-button variant="info" href="/" style="width: 250px;"
        >Home<br/>
            <img
                    src="{% static 'GUI/home.png' %}"
                    alt="Home"
                    style="max-height: 100px"
            />
        </b-button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>
        new Vue({el: "#app"});
    </script>
</div>
</body>
</html>
