* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: lightcyan;
}

input[type="file"] {
    width: 100%;
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0;
}

input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #555;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 120%;
}

.insert-sub-title {
    text-align: left;
    margin-left: 15px;
}

.insert-title {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 15px;
}

table.b-table[aria-busy='true'] {
  opacity: 0.6;
}